// Define variables for your color scheme

$primary-color: #E30715; //rgb(227, 7, 21)
$dark-grey: #333333;
$medium-grey: #777777;
$light-gray: #F4F4F4;
$shadow: rgba(72,72,72,.2);

// For example:
$red: #E30715;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #333333;

