// Define variables for your color scheme

$main-color: #3af901;
$dark-grey: #333333;
$medium-grey: #777777;
$light-grey: #F4F4F4;
$shadow: rgba(72,72,72,.2);

// For example:
$red: #D6212D;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #333333;

