// Define variables for your color scheme

$primary-color: #e36a6a;
$dark-grey: #333333;
$medium-grey: #777777;
$light-gray: #F4F4F4;

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
