<div class="banner radius-bottom ">
   <h1 class="text-center">manage your cocktail</h1>
   <p class="text-center" >tasty & delicious cocktails at home ! </p>
 </div>
<div class="wrapper">
  <%= render "form", cocktail: @cocktail %>
  <div class="back" >
    <%= link_to "<< Back", my_cocktails_cocktails_path %>
  </div>
</div>
