<div class="banner-home">
  <div class="relative" >
    <%= image_tag "banner-home.jpg" %>
    <h1>captain cocktail</h1>
  </div>
</div>
<div class="wrapper">
  <div class="cocktails-cards">
    <% @cocktails.each do |cocktail| %>
      <% if cocktail.user == @user %>
        <div class="cocktail-card">
          <div class="cocktail-card-title">
              <h4><%= link_to cocktail.name, cocktail_path(cocktail) %></h4>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


