<div class="banner radius-bottom ">
   <h1 class="text-center">create your cocktail</h1>
   <p class="text-center" >tasty & delicious cocktails at home ! </p>
 </div>
<div class="wrapper">
  <%= render "form", cocktail: @cocktail %>
</div>
