<div class="wrapper">
  <div class="cocktail-card">
    <div class="cocktail-card-title">
      <h1><%= @cocktail.name %></h1>
    </div>
    <div class="cocktail-card-details">
      <div class="cocktail-card-details-description">
        <p><%= @cocktail.description %></p>
      </div>
      <div class="cocktail-card-details-ingredients">

      </div>
      <div class="cocktail-card-details-steps">

      </div>
    </div>
  </div>
</div>
