<div class="wrapper">
  <div class="cocktail-card">
    <div class="cocktail-card-title">
      <h1><%= @cocktail.name %></h1>
    </div>
    <div class="cocktail-card-description">
      <div class="cocktail-card-description-ingredients">

      </div>
      <div class="cocktail-card-description-steps">

      </div>
    </div>
  </div>
</div>
