<!-- <div class="footer">
  <div class="first-footer bg black-bg">
    <div class="first-footer-social-links">
      <h2>follow us</h2>
      <ul>
        <li><i class="fab fa-facebook-square"></i></li>
        <li><i class="fab fa-instagram-square"></i></li>
        <li><i class="fab fa-linkedin"></i></li>
        <li><i class="fab fa-twitter-square"></i></li>
      </ul>
    </div>
    <div class="first-footer-search text-center">
      <p>search</p>
    </div>
  </div>
  <div class="second-footer bg grey-bg">
    <div class="second-footer-copyright">
      <p class="small-text">© 2020 SAMAH GMB all rights reserved</p>
    </div>
    <div class="second-footer-coded-by text-center">
      <p class="small-text">this site was lovingly designed <br> and coded by myself</p>
    </div>
    <div class="second-footer-legal">
      <ul class="small-text" >
        <li>legal notice</li>
        <li>contact us</li>
      </ul>
    </div>
  </div>
</div>

 -->
