<div class="footer">
  <div class="first-footer bg red-bg">
    <div class="first-footer-social-links">
      <h2>follow us</h2>
      <ul>
        <li><i class="fab fa-facebook-square"></i></li>
        <li><i class="fab fa-instagram-square"></i></li>
        <li><i class="fab fa-linkedin"></i></li>
        <li><i class="fab fa-twitter-square"></i></li>
      </ul>
    </div>
    <div class="first-footer-cocktails text-center">
      <h3>cocktails</h3>
      <ul>
        <li>Cocktails</li>
        <li>Cocktails</li>
        <li>Cocktails</li>
        <li>Cocktails</li>
        <li>Cocktails</li>
        <li>Cocktails</li>
        <li>Cocktails</li>
        <li>Cocktails</li>
        <li>Cocktails</li>
        <li>Cocktails</li>
      </ul>
    </div>
    <div class="first-footer-categories text-center">
      <h3>categories</h3>
      <ul>
        <li>Categories</li>
        <li>Categories</li>
        <li>Categories</li>
        <li>Categories</li>
        <li>Categories</li>
        <li>Categories</li>
        <li>Categories</li>
        <li>Categories</li>
        <li>Categories</li>
        <li>Categories</li>
      </ul>
    </div>
  </div>
  <div class="second-footer bg grey-bg">
    <div class="second-footer-copyright">
      <p>© 2020 SAMAH GMB all rights reserved</p>
    </div>
    <div class="second-footer-coded-by text-center">
      <p>This site was lovingly designed <br> and coded by myself</p>
    </div>
    <div class="second-footer-legal">
      <ul>
        <li>legal notice</li>
        <li>contact us</li>
      </ul>
    </div>
  </div>
</div>

