<div class="footer">
  <div class="first-footer bg red-bg">
    <div class="first-footer-social-links">
      <h2>follow us</h2>
      <ul>
        <li><i class="fab fa-facebook-square"></i></li>
        <li><i class="fab fa-instagram-square"></i></li>
        <li><i class="fab fa-linkedin"></i></li>
        <li><i class="fab fa-twitter-square"></i></li>
      </ul>
    </div>
    <div class="first-footer-cocktails text-center">
      <h4><%= link_to 'cocktails', cocktails_path %></h4>
      <ul>
        <li>mojito</li>
        <li>pina colada</li>
        <li>punch</li>
        <li>margarita</li>
        <li>sex on the beach</li>
      </ul>
    </div>
    <div class="first-footer-categories text-center">
      <h4>categories</h4>
      <ul>
        <li>Categories</li>
        <li>Categories</li>
        <li>Categories</li>
        <li>Categories</li>
        <li>Categories</li>
        <li>Categories</li>
        <li>Categories</li>
        <li>Categories</li>
        <li>Categories</li>
        <li>Categories</li>
      </ul>
    </div>
  </div>
  <div class="second-footer bg grey-bg">
    <div class="second-footer-copyright">
      <p>© 2020 SAMAH GMB all rights reserved</p>
    </div>
    <div class="second-footer-coded-by text-center">
      <p>This site was lovingly designed <br> and coded by myself</p>
    </div>
    <div class="second-footer-legal">
      <ul>
        <li>legal notice</li>
        <li>contact us</li>
      </ul>
    </div>
  </div>
</div>

