<div class="footer">
  <div class="footer-bar" ><p><i class="fas fa-exclamation-triangle"></i>Alcohol abuse is dangerous for your health, alcoholic drinks should be consumed in moderation</p></div>
  <div class="footer-list" >
    <ul>
      <li class="text-center" >© 2020 Samah Gmb all rights reserved</li>
      <li class="text-center" >designed and coded with <i class="fas fa-heart"></i> by myself</li>
      <li class="text-center" >
        <%= link_to contact_path do %>
          CONTACT ME
        <% end %>
      </li>
    </ul>
  </div>
</div>
