<div class="home-footer">
  <div class="wrapper">
    <ul>
      <li class="text-center" >© 2020 Samah Gmb <br> all rights reserved</li>
        <li class="text-center" >designed and coded <br> with <i class="fas fa-heart"></i> by myself</li>
        <li class="text-center" >
          <%= link_to contact_path do %>
            CONTACT <br> ME
          <% end %>
        </li>
    </ul>
  </div>
</div>
