<div class="home-footer">
  <div class="wrapper">
    <hr>
    <ul>
      <li class="text-center" >© 2020 SAMAH GMB all rights reserved</li>
      <li class="text-center" >this site was lovingly designed and coded by myself</li>
      <li  class="text-center">
        <%= link_to contact_path do %>
          contact me
        <% end %>
      </li>
    </ul>
  </div>
</div>
