<div class="wrapper">
  <div class="home-banner">
    <div>
      <h1 class="text-center">captain cocktail</h1>
      <p class="text-center" > Lorem, ipsum, dolor sit amet consectetur adipisicing elit. Esse reiciendis modi accusamus consequuntur adipisci error, provident saepe harum explicabo quibusdam ex sit! Rem, quod necessitatibus iste architecto esse, ipsa eos! </p>
    </div>
    <div>
      <%= image_tag "banner.svg" %>
    </div>
    <div class="cta" >
      <button class="bold-text" ><%= link_to 'Create Your Cocktail', new_cocktail_path  %></button>
    </div>
    <div class="btn" >
      <button class="bold-text" ><%= link_to 'Get Inspiration', cocktails_path  %></button>
    </div>
    <div class="sign-in" >
      <p class="bold-text" >already have account? <%= link_to 'Sign In', new_user_session_path %> </p>
    </div>
  </div>
</div>




