<div class="home-banner">
  <div class="wrapper">
    <h1 class="text-center">captain cocktail</h1>
    <p> Lorem, ipsum, dolor sit amet consectetur adipisicing elit. Esse reiciendis modi accusamus consequuntur adipisci error, provident saepe harum explicabo quibusdam ex sit! Rem, quod necessitatibus iste architecto esse, ipsa eos! </p>
    <div><%= image_tag "home-banner.svg" %></div>
    <div class="cta center">
      <p>CTA</p>
    </div>
  </div>
</div>



