<div class="home-banner flex-column flex-center ">
  <div class="wrapper">
    <div class=" home-banner-title padding-section-home" >
      <h1 class="text-center">captain cocktail</h1>
      <p class="text-center"> create your library of your best cocktails or just get inspiration from our famous cocktails recipes!</p>
    </div>
  </div>
  <div class="wrapper">
    <div class=" home-page-img-btn padding-section-home" >
      <div class="home-page-btn padding-section-home " >
        <div class="btn">
          <button class="text-center" ><%= link_to 'create your cocktail', new_cocktail_path %></button>
        </div>
        <div class="btn">
          <button class="text-center" ><%= link_to 'get inspiration', cocktails_path %></button>
        </div>
      </div>
      <div class="home-page-img padding-section-home " >
        <%= image_tag "img-banner.svg" %>
      </div>
    </div>
  </div>
</div>
