.home-banner {
  height: 100%;
  background: linear-gradient(#fefb01, #cefb02, #87fa00, #3af901);
}

.home-banner-title {
  display: flex;
  flex-direction: column;
}

.home-banner-title p {
  letter-spacing: 0.1em;
}

.home-page-img-btn {
  display: flex;
  align-items: center;
}

@media (max-width: 540px) {
  .home-page-img-btn {
    flex-wrap: wrap-reverse;
  }
}

.home-page-btn, .home-page-img {
  width: 100%;
  display: flex;
  justify-content: center;
}

.home-page-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-in {
  padding: 16px 0;
  width: 400px;
}

.sign-in a {
  font-weight: bold;
  padding: 0 8px;
}

.sign-in a:hover {
  color: white;
}

.home-page-img img {
  width: 80%;
}

.banner {
  background: linear-gradient(#fefb01, #cefb02, #87fa00, #3af901);
  padding: 80px;
  width: 100%;
}
