.home-banner {
  height: 100%;
  width: 100%;
  background: linear-gradient(#fefb01, #cefb02, #87fa00, #3af901);
}

.home-banner-title {
  display: flex;
  flex-direction: column;
}

.home-banner-title p {
  letter-spacing: 0.1em;
  padding: 0 32px;
}

.home-page-img-btn {
  display: flex;
  align-items: center;
}

.home-page-btn, .home-page-img {
  width: 100%;
  display: flex;
  justify-content: center;
}

.home-page-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-in {
  padding: 16px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-in a {
  font-weight: bold;
  padding: 0 4px;
}

.sign-in a:hover {
  color: white;
}

.home-page-img img {
  width: 80%;
}

.banner {
  background: linear-gradient(#fefb01, #cefb02, #87fa00, #3af901);
  padding: 80px;
  width: 100%;
}

@media (min-width: 768px) {
  .home-banner {
    min-height: 100vh;
  }
}

@media (max-width: 1200px) {
  .home-page-img-btn {
    flex-wrap: wrap-reverse;
  }
}

@media (max-width: 1200px) {
  .home-page-img img {
    height: 200px;
  }
}

@media (max-width: 992px) {
  .home-page-img-btn {
    flex-wrap: wrap-reverse;
  }
}

@media (max-width: 992px) {
  .home-banner-title p {
    margin: 0;
  }
}

@media (max-width: 992px) {
  .home-page-img img {
    height: 150px;
    padding: 0;
  }
}

@media (max-width: 992px) {
  .banner {
    padding: 20px;
  }
}

@media (max-width: 768px) {
  .home-page-img-btn {
    flex-wrap: wrap-reverse;
  }
}

@media (max-width: 768px) {
  .home-page-img img {
    height: 150px;
    padding: 0;
  }
}




