.cta p {
  background-color: $primary-color;
  padding: 8px 16px;
  border-radius: 4px;
  color: white;
}

.cta p:hover {
  background-color: $dark-grey;
  color: white;
}

.btn-sec p {
  background-color: white;
  padding: 8px 16px;
  border-radius: 4px;
  color: $dark-grey;
}

.btn-sec p:hover {
  background-color: $dark-grey;
  color: white;
}

.btn-lg {
  width: 300px;
}
