.btn {
  background-color: $dark-grey;
  padding: 16px 32px;
  margin: 0 16px;
  border-radius: 8px;
  width: 100%;
  margin: 8px;
  color: $main-color;
}

.btn:hover, .back-prev-page:hover {
  background-color: $medium-grey;
  color: $main-color;
}

.btn button, .back-prev-page button {
  background-color: transparent;
}

.btn button a, .back-prev-page button a {
  font-weight: bold;
  color: $main-color;
  font-size: 20px;
}

.btn button a:hover {
  color: white;
}

.back-prev-page {
  background-color: $dark-grey;
  padding: 16px;
  margin: 16px;
  border-radius: 8px;
  width: 170px;
  margin: 8px;
  color: $main-color;
  display: flex;
  justify-content: center;
}

.back-prev-page button a {
  color: $main-color;
  font-size: 16px;
}

.cta {
  background-color: $dark-grey;
  border-radius: 8px;
}

.cta p {
  color: $main-color;
  padding: 0 16px;
}

.cta:hover {
  background-color: $medium-grey;
}

@media (min-width: 821px) {
  .btn {
    width: 80%;
  }
}



