.cta button {
  background-color: $main-color;
  padding: 16px 40px;
  border-radius: 8px;
  color: white;
  margin: 8px 0;
  width: 300px;
}

.cta button:hover {

}

.cta button a:hover {
  color: white;
}

.btn button {
  background-color: white;
  border: 2px solid $main-color;
  padding: 16px 40px;
  border-radius: 8px;
  color: $main-color;
  margin: 8px 0;
  width: 300px;
}

.btn button:hover {

}

.btn button a:hover {
  color: $main-color;
}
