// Index Card

.cocktail-category {
  border: 2px solid $main-color;
  background-color: white;
  border-radius: 40px;
  height: 150px;
  width: 150px;
  margin: 8px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cocktail-category:hover {
  border-radius: 32px;
}

.cocktail-card {
  box-shadow: 2px 4px 4px 2px $shadow;
  border-radius: 8px;
  height: 100px;
  width: 80%;
  margin: 16px 40px;
  display: flex;
  align-items: center;
  background-color: white;
}

.cocktail-card:hover {
  transform: scale(1.1, 1.1)
}

.cocktail-card img {
  border-radius: 50%;
  height: 120px;
  width: 120px;
}

.cocktail_card-img {
  position: absolute;
  left: -15%;
}

.cocktail-card-name h3 {
  padding-left: 120px;
}

.cocktail-card-name h3 a:hover {
  color: $main-color;
}

.modal-content {
  box-shadow: 2px 4px 4px 2px $shadow;
  border-radius: 8px;
}

.modal-body a:hover {
  color: $main-color;
}

.modal-footer button {
  font-weight: bold;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 2px 4px 4px 2px $shadow;
}

.modal-footer button:hover {
  color: $main-color;
}

@media (max-width: 1200px) {
  .cocktail_card-img {
    position: absolute;
    left: -5%;
  }
}

@media (max-width: 1200px) {
  .cocktail-card {
    margin: 16px;
    width: 80%;
  }
}

@media (max-width: 768px) {
  .cocktail-card {
    margin: 16px;
    width: 90%;
  }
}

@media (max-width: 576px) {
  .cocktail_card-img {
    position: absolute;
    left: -15%;
  }
}

@media (max-width: 576px) {
 .cocktail-card img {
   height: 100px;
   width: 100px;
 }
}

@media (max-width: 576px) {
 .cocktail-card-name h3 {
   padding-left: 100px;
 }
}

@media (max-width: 576px) {
  .cocktail-card {
    margin: 16px;
    width: 95%;
  }
}

// Random Cocktail

.random-cocktail-section {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.random-cocktail-photo {
  width: 50%;
  margin: 16px;
  position: relative;
}

.random-cocktail-photo img {
  width: 100%;
  padding: 0;
  margin: 0;
  border-radius: 40px;
}

.random-cocktail-infos {
  width: 50%;
  margin: 16px;
}

.random-cocktail-section a:hover {
  color: $main-color;
}

.random-cocktail-ingredients {
  width: 100%;
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.random-cocktail-name {
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: white;
  padding: 8px 32px;
  border-radius: 40px;
}

.random-cocktail-name a:hover {
  color: $main-color;
}

.random-cocktail-name:hover {
  transform: scale(1.1, 1.1)
}

.random-ingdts-arrow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.random-cocktail-arrow i {
  padding: 0 8px;
}

.random-cocktail-arrow p:hover {
  color: $main-color;
  transform: scale(1.1, 1.1)
}

@media (max-width: 1200px) {
  .random-cocktail-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

@media (max-width: 1200px) {
 .random-cocktail-infos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 1200px) {
 .random-cocktail-photo {
    width: 50%;
  }
}

@media (max-width: 992px) {
 .random-cocktail-photo {
    width: 50%;
  }
}

@media (max-width: 768px) {
 .random-cocktail-ingredients {
    padding: 0;
  }
}

@media (max-width: 768px) {
 .random-cocktail-infos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 768px) {
 .random-cocktail-photo {
    width: 100%;
  }
}


// My Cocktails

.no-cocktail img {
  height: 200px;
}

.no-cocktail {
  margin: 40px 0;
}

.cocktail-name-trash {
  display: flex;
  align-items: center;
}

.cocktail-name-trash i {
  color: $medium-grey;
  padding-left: 16px;
}

.cocktail-name-trash i:hover {
  color: $main-color;
}

@media (max-width: 992px) {
  .no-cocktail img {
    height: 100px;
  }
}

// Show Card

.cocktail-infos {
  width: 50%;
  background-color: white;
  border-radius: 40px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.cocktail-infos p {
  padding: 8px 0;
  line-height: 2;
  letter-spacing: 0.1em;
}

.cocktail-infos-igdts {
  border: 2px solid $main-color;
  border-radius: 40px;
  width: 110px;
  height: 110px;
  margin: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cocktail-dose {
  font-size: 14px;
}

.cocktail-igdt-name {
  font-size: 14px;
  font-weight: bold;
  padding: 0 8px;
}

.warning i {
  color: red;
  font-size: 14px;
  padding: 0 8px;
}

.edit-delete-igdt {
  display: flex;
}

.edit-delete-igdt i {
  padding: 8px;
  color: $medium-grey;
  font-size: 16px;
}

.edit-delete-igdt i:hover {
  color: $main-color;
}

.cocktail-img {
  width: 50%;
  display: flex;
  justify-content: center;
}

.cocktail-img img {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border-radius: 0 40px 0 0;
}

.prev-next {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
}

.prev-next a {
  font-weight: bold;
}

.prev-next a:hover {
  color: $main-color;
}

.prev {
  align-self: flex-start;
}

.next {
  align-self: flex-end;
}

.prev-next i {
  font-size: 24px;
}

@media (max-width: 1200px) {
  .cocktail-infos-igdts {
    width: 90px;
    height: 110px;
  }
}

@media (min-width: 1200px) {
  .cocktail-infos {
    height: 100vh;
  }
}

@media (max-width: 1200px) {
  .cocktail-infos {
    border-radius: 40px 40px 0 0;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .cocktail-img {
    height: 100vh;
  }
}

@media (max-width: 1200px) {
  .cocktail-img {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .cocktail-img img {
    width: 50%;
    border-radius: 40px;
    padding: 16px;
  }
}

@media (max-width: 576px) {
  .cocktail-img img {
    width: 100%;
    border-radius: 0;
    padding: 16px 0;
  }
}



