.cocktail-card {
  margin: 16px;
  box-shadow: 2px 4px 4px 2px $shadow;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.cocktail-card-img img, .cocktail-card-details-img img {
  width: 100%;
}

.cocktail-card-title, .cocktail-card-details {
  padding: 8px;
}

.cocktail-card-details-img, .cocktail-card-details-description, .cocktail-card-details-ingredients {
  padding: 8px;
  width: 350px;
}
