.contact-section {
  display: flex;
}

.contact-info {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.call-me, .email-me, .follow-me, .my-web-site ,.my-work {
  display: flex;
  align-items: center;
  height: 120px;
  width: 100%;
}

.call-me:hover, .email-me:hover, .follow-me:hover, .my-web-site:hover ,.my-work:hover {
  transform: scale(1.03);
}

.contact-info i {
  font-size: 48px;
  padding: 16px;
}

.contact-info a:hover {
  color: $main-color;
}

.contact-details {
  padding-left: 24px;
}

.contact-arrow i {
  font-size: 16px;
  padding: 8px;
}

.contact-img {
  display: flex;
  justify-content: center;
  width: 30%;
}

.contact-img img {
  height: 60%;
}

@media (max-width: 768px) {
  .contact-img {
    display: none;
  }
}

@media (max-width: 768px) {
 .contact-info {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .contact-img img {
    height: 30%;
  }
}




