.home-footer, .footer {
  background: linear-gradient( #3af901, #87fa00, #cefb02, #fefb01);
}

.footer ul, .home-footer ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-items : baseline;
}

.footer ul li, .home-footer ul li {
  font-size: 12px;
  color: $medium-grey;
}

.footer ul li::first-letter, .home-footer ul li::first-letter {
  text-transform: capitalize;
}

.footer a, .home-footer a {
  font-weight: bold;
  font-size: 11px;
}

.footer a:hover, .home-footer a:hover {
  color: $main-color;
}

.home-footer a:hover, .footer a:hover  {
  color: white;
}




