// Colors

h1, h2, h3, a, p {
  color: $dark-grey;
}

// i {
//   color: $main-color;
// }

.bg-orange {
  background-color: #f6d6ce;
}

.bg-pink {
  background-color: #fec7e1;
}

.bg-green {
  background-color: #d1eac6;
}

.bg-blue {
  background-color: #9ADCF0;
}

// Flex

// .flex {
//   display: flex;
// }

.flex-wrap {
  display: flex;
  flex-wrap: wrap
}

// .flex-column {
//   display: flex;
//   flex-direction: column;
// }

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Font

h1 {
  font-size: 80px;
  font-family: $main-header-font;
}

@media (max-width: 540px) {
  h1 {
      font-size: 48px;
  }
}

h2 {
  font-size: 24px;
  font-family: $main-header-font;
}

h3 {
  font-size: 20px;
}

@media (max-width: 540px) {
  h3 {
    font-size: 18px;
  }
}

h4 {
  font-size: 16px;
}

p {
  font-size: 16px;
}

// .medium-text {
//   font-size: 14px;
// }

// .small-text {
//   font-size: 12px;
// }

// i {
//   font-size: 32px;
// }

// .small-icone {
//   font-size: 16px;
// }

// Layout

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

.main {
  min-height: 100%;
  margin-bottom: -50px;
}

.push, .footer {
  height: 50px;
}

// Padding / Margin

// h1 {
//   padding: 16px;
// }

// h2 {
//   padding: 16px 0;
// }

.padding-section-index {
  padding: 16px;
}

.padding-section {
  padding: 72px;
}

// @media (max-width: 540px) {
//   .padding-section {
//     padding: 32px;
//   }
// }

.padding-right {
  padding-right: 16px;
}

// img {
//   margin: 16px;
// }

// Style

// h1 {
//   text-transform: uppercase;
// }

h2, h3 {
  text-transform: capitalize;
}

h3 {
  font-weight: bold;
}
p::first-letter {
  text-transform: uppercase;
}


// h3, h4 {
//   text-transform: uppercase;
//   padding-top: 16px;
// }

// h4 a:hover {
//   color: $main-color;
// }

a {
  text-decoration: none !important;
}

// li {
//   list-style: none;
// }

// i {
//   padding: 8px;
// }

.bold-text {
  font-weight: bold;
}

.relative {
  position: relative;
}

.radius-bottom {
  border-radius: 0 0 40px 40px;
}

.radius-top {
  border-radius: 40px 40px 0 0;
}



// .space-btw {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   flex-wrap: wrap;
// }

// .space-arnd {
//   display: flex;
//   justify-content: space-around;
//   align-items: baseline;
//   flex-wrap: wrap;
// }





