// Colors

h1, h2, h3, a, p {
  color: $dark-grey;
}

// Flex

.flex-wrap {
  display: flex;
  flex-wrap: wrap
}

.flex-wrap-reverse {
  display: flex;
  flex-wrap: wrap-reverse;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// Font

h1 {
  font-size: 64px;
  font-family: $main-header-font;
}

h2 {
  font-size: 24px;
  font-family: $main-header-font;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

p {
  font-size: 16px;
}

@media (max-width: 992px) {
  h1 {
      font-size: 32px;
  }
}

@media (max-width: 992px) {
  h3 {
    font-size: 18px;
  }
}

// Layout

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

.main {
  min-height: 100%;
  margin-bottom: -120px;
}

.push, .home-push, .footer, .home-footer {
  height: 120px;
}

// Padding / Margin

h1, h2, h3 {
  padding: 16px 0;
}

.padding-section-home {
  padding: 16px 0;
}

.padding-section-index {
  padding: 16px;
}

.padding-section {
  padding: 16px 72px;
}

@media (max-width: 992px) {
  h1 {
    padding: 8px;
  }
}

@media (max-width: 992px) {
  .padding-section {
    padding: 16px 24px;
  }
}

@media (min-width: 768px) {
  .padding-section-home {
    padding: 8px 0;
  }
}

@media (max-width: 767.98px) {
  .padding-section-home {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .padding-section-index {
    padding: 8px 0;
  }
}

// Style

h1, h2, h3, h4, a {
  text-transform: capitalize;
}

h3, h4 {
  font-weight: bold;
}
p::first-letter {
  text-transform: uppercase;
}

a {
  text-decoration: none !important;
}

button {
  border: none;
  background-color: white;
}

button:focus {
  display: none;
}

.bold-text {
  font-weight: bold;
}

.relative {
  position: relative;
}

.radius-bottom {
  border-radius: 0 0 40px 40px;
}

.radius-top {
  border-radius: 40px 40px 0 0;
}

.back {
  padding: 16px;
  font-weight: bold;
}
.back a:hover {
  color: $main-color;
}

// Devise

.devise-shared-links {
  display: flex;
  margin: 8px;
  justify-content: center;

}

.devise-shared-links a {
  color: white;
  background-color: $medium-grey;
  text-align: center;
  padding: 16px;
  margin: 8px;
  border-radius: 8px;
  width: 300px;
  font-size: 11px;
}

.devise-shared-links a:hover {
  background-color: $light-grey;
  color: $dark-grey;
}

.back-devise a {
  font-weight: bold;
}

.back-devise a:hover {
  color: $main-color;
}

.unhappy a:hover {
  color: $main-color;
}

.unhappy i {
  padding: 0 16px;
}

.form-actions {
  text-align: center;
}


