// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// Layout

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

.main {
  min-height: 100%;
  margin-bottom: -300px;
}

.push, .footer {
  height: 300px;
}

// Font-size
h1 {
  font-size: 64px;
}

h2 {
  font-size: 48px;
}

h1, h2 {
  text-transform: capitalize;
}

h3 {
  font-size: 32px;
  text-transform: uppercase;
}

h4 {
  font-size: 24px;
  text-transform: uppercase;
}

p {
  font-size: 16px;
}

// Colors
h1, h2, h3, h4, a {
  color: $dark-grey;
}

p, li {
  color: $medium-grey;
}

.red-bg h2, .red-bg h3, .red-bg h4, .red-bg li, .red-bg a {
  color: white;
}

.grey-bg p, .grey-bg li, .grey-bg a, .grey-bg i {
  color: $medium-grey;
}

// style

a {
  text-decoration: none !important;
}

li {
  list-style: none;
}

i {
  padding: 8px;
}

.text-center {
  text-align: center;
}
